{% extends 'base.html' %} {% set title = 'Endpoints' %} {% block content %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('ready2go', {data: 'pls'});
    });

    socket.on('connect', function() {
        socket.emit('connect', {data: 'pls'});
    });
</script>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <!--The columns titles are merged with the filters inputs thanks to the placeholders attributes-->
        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Endpoints</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th>
                                <input type="text" class="form-control" placeholder="#" disabled>
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="First Name" disabled>
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="Last Name" disabled>
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="Username" disabled>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
