<footer class="footer">
    <div class="container">
        <p class="text-muted">Automagically generate docs for apps' closed REST APIs.</p>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fs.selecter.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fs.stepper.min.js') }}"></script>
