<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-book"></i> REST Digester</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <!--<li class="active">-->
                <li><a href="/setup"><i class="fa fa-cog"></i> Setup</a></li>
                <li><a href="/endpoints"><i class="fa fa-link"></i> Endpoints</a></li>
                <li><a href="/requests"><i class="fa fa-th-list"></i> Live Requests</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
